/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', 'Rubik', sans-serif; /* Fallback to Rubik if Manrope isn't available */
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
  }
  
  header {
    padding: 1rem;
    background-color: #f0f0f0;
  }
  
  header nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f0f0f0;
  }
  
  h1, h2 {
    font-weight: 400;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666; /* A slightly lighter shade for the paragraph text */
  }
  
  a {
    color: #007BFF; /* A bright color for links to stand out */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3; /* A darker shade for the hover state */
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: #f0f0f0;
  }
  
  /* If you want to add more specific styles (for buttons, icons, etc.), you can add them here. */
  
  /* Add media queries for responsiveness */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem; /* Slightly smaller font size on smaller screens */
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    main {
      margin: 1rem;
    }
  
    /* Adjust any other relevant styles for mobile responsiveness */
  }
  
  .back-arrow {
    display: block;
    position: absolute; /* Adjust if needed depending on your page layout */
    top: 1rem; /* Distance from the top of the viewport */
    left: 1rem; /* Distance from the left of the viewport */
    width: 24px; /* Size of the back arrow icon */
    height: 24px; /* Size of the back arrow icon */
  }
  
  /* If you're placing the back arrow within the header, you might not need absolute positioning */
  header {
    position: relative; /* This is necessary if the back arrow uses absolute positioning */
  }
  
  /* Ensure the main content does not overlap with the back arrow */
  main {
    position: relative;
    z-index: 2; /* This should be higher than the back arrow's z-index if using absolute positioning */
    padding-top: 2rem; /* This provides space for the back arrow */
  }
  