/* style.css */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.section-1 {
  text-align: center;
  background-color: #fff;
}

.section-2 {
  text-align: left;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 10%;
}

.company-name, .learn-more {
  font-size: 3em;
  font-weight: bold;
  margin: 20px 0;
}

.description {
  font-size: 1em;
  color: #555;
  max-width: 600px;
  line-height: 1.4; /* Adjust this value as needed, standard is about 1.2-1.6 */
}

.tagline {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0; /* Existing padding */
}

.button {
  margin-top: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
}

.caret-down {
  width: 24px;
  height: 24px;
}

.button:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* ensures responsiveness */
}

.column > div {
  width: 48%; /* Adjust the width as needed */
  margin-bottom: 20px; /* Space between columns */
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

.link {
  color: #333;
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
}

/* Scroll smoothly to the sections */
html {
  scroll-behavior: smooth;
}

.right-arrow {
  fill: currentColor;
  vertical-align: middle;
}

.section {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Adjust as needed */
  background-color: #f0f0f0; /* Just for visualization */
}

.content {
  text-align: center;
}

.name-svg {
  max-width: 500px;
}

.logo-svg {
  width: 200px;
  height: 200px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-1, .section-2 {
  flex: 1; /* This will make the sections grow and fill the available space */
}

.footer {
  text-align: center;
  font-size: 0.75em;
  background-color: #f0f0f0;
  padding-top: 60%;
}

.learn-more-wrapper {
  text-align: left;
  margin-left: 20px; /* Or the padding you have on the columns for alignment */
  padding-top: 20px; /* Optional, for some spacing above the title */
}

.learn-more {
  /* Style for the LEARN MORE heading */
  margin-bottom: 50px; /* Adjust as needed */
}

.columns {
  display: flex;
  justify-content: space-between; /* This separates the two columns */
  align-items: flex-start; /* Aligns items to the top */
}

.column {
  flex-basis: 48%; /* Adjust the percentage as necessary for your layout */
  /* This sets the base size for each column but they will still flex with the available space */
}

/* Responsive design to stack the columns on smaller screens */
@media (max-width: 768px) {
  .columns {
      flex-direction: column;
  }

  .column {
      flex-basis: 100%; /* Each column takes full width on smaller screens */
      margin-bottom: 20px; /* Adds space between stacked columns */
  }
}

.column {
  max-width: 500px; /* or any other value */
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px; /* Move the header down a bit */
  background-color: #f0f0f0; /* Match background color */
}

.contact-us {
  margin-left: auto;
}

.contact-us a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.contact-us a:hover {
  background-color: #e0e0e0;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
